#dash_display_user{
    width: calc(100% - 3vw);
    margin: 2vw 1vw 0px 2vw;
}#dash_display_com{
    width: calc(100% - 3vw);
    margin: 2vw 1vw 0px 2vw;
}
#dash_display_job{
    width: calc(100% - 3vw);
    margin: 2vw 2vw 0px 1vw;
}

.dash_column{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#terms_of_service{
    background-color: #ffffff;
    top: -100%;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    padding: 70px 8px 70px 8px;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#terms_of_service.display{
    top: 0px !important;
}

#privacy_policy{
    background-color: #ffffff;
    top: -100%;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    padding: 70px 8px 70px 8px;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#privacy_policy.display{
    top: 0px !important;
}