#dash_display_user{
    width: calc(100% - 3vw);
    margin: 2vw 1vw 0px 2vw;
}#dash_display_com{
    width: calc(100% - 3vw);
    margin: 2vw 1vw 0px 2vw;
}
#dash_display_job{
    width: calc(100% - 3vw);
    margin: 2vw 2vw 0px 1vw;
}

.dash_column{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#terms_of_service{
    background-color: #ffffff;
    top: -100%;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    padding: 70px 8px 70px 8px;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#terms_of_service.display{
    top: 0px !important;
}

#privacy_policy{
    background-color: #ffffff;
    top: -100%;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    padding: 70px 8px 70px 8px;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#privacy_policy.display{
    top: 0px !important;
}


.work_media{
    width: 110px;
    height: 110px;
}
.work_text{
    width: calc(100% - 110px);
}
.work_action{
    flex-direction: row !important;
}

#work_detail{
    visibility: hidden;
    position: fixed;
    padding: 0px;
    z-index: 0;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
}#work_detail.display{
    visibility: visible;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
}

#work_bluff_erea{
    opacity: 1;
    transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
}#work_bluff_erea.tosee{
    opacity: 0;
}

#work_display_erea{
    height: calc(100% - 52px);
    opacity: 0;
    transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
}#work_display_erea.tosee{
    opacity: 1;
}

.good_work_button.good{
    color: #0066ff;
}
#good_work_on_detail.good{
    color: #0066ff;
}

/* グラフに関してのＣＳＳ */
#user_job_display{
    text-align: center;
}#user_job_level_display{
    position: absolute;
    bottom: auto;
    top: calc(34px + 50vw);
    text-align: center;
    font-size: 3em;
    left: 0;
    right: 0;
    margin: auto;
}
#change_job_name_input{
    display: none;
    margin: auto;
    font-size: 20px;
    border: none;
    border-bottom: solid 1px;
}