#community_bar{
    height: auto;
}
#nagares_navi{
    background-color: #ffca47;
}
.mdc-tab--active .mdc-tab__text-label.nagare_part{
    color: #000000;
}.mdc-tab-indicator .mdc-tab-indicator__content--underline.nagare_part{
    border-color: #0066ff;
}
/*ripple の色変えができませんでした。
.mdc-tab__ripple.nagare_part::before, .mdc-tab__ripple.nagare_part::after{
    color: #6666ff;
}
*/
.nagare_page{
    background-color: #ffffff;
    transition:  all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    position: absolute;
    top: 0px;
    width: 100vw;
}

#comment_div{
    background-color: #ff9900;
    text-align: center;
    position: fixed;
    width: 113.75px;
    height: 48px;
    z-index: 5;
    right: calc(50vw - 56.875px);
    bottom: 70px;
    border-radius: 24px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}#chat_icon_mimic{
    fill: #000000;
    position: absolute;
    top: 13px;
    left: 12px;
}#chat_text_mimic{
    color: #000000;
    position: absolute;
    margin: 11px 20px 12px 20px;
    right: 0px;
}
#comment_div.nagactive{
    background-color: #ffffff;
    width: 100vw;
    height: 114px;
    right: 0px;
    bottom: calc(100% - 114px);
    border-radius: 0px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}#comment_div.nagactive.sending{
    animation: send_to_nagare 0.5s cubic-bezier(0.4, 0.0, 0.2, 1) 0s 1 normal forwards;
}@keyframes send_to_nagare {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-300px);
    }
}
#comment_div_while_img{
    width: 40px;
    height: 40px;
    left: 16px;
    top: 16px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}#comment_div_while_sup{
    font-size: 0.8em;
    color: #111111;
    position: absolute;
    left: 72px;
}#comment_div_while_textarea{
    position: absolute;
    left: 72px;
    top: 32px;
    width: calc(100vw - 128px);
    /*height: calc(100% - 48px);*/
    border: none;
    /* クリックした時に拡大されるのを防ぐための記述 */
    font-size: 18px;
}#comment_div_while_send{
    color: #0066ff;
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}