/*#first_card{
    width: calc(100vw - 40px);
    height: calc(82.84vw - 33.14px);
    margin: 40px 20px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    z-index: 0;
}*/
/* first_card sencond_card を 2020/01/06 に変更 */
#first_card{
    width: 90%;
    height: 40%;
    margin: 5%;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    z-index: 0;
}
#first_card.display{
    width: 100%;
    height: 100%;
    margin: 0px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    z-index: 1;
}

#first_card_back{
    display: none;
}#first_card_back.display{
    display: block;
}

/*
#second_card{
    width: calc(100vw - 40px);
    height: calc(41.42vw - 16.57px);
    margin: calc(80px + 82.84vw - 33.14px) 20px 20px 20px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    z-index: 0;
    overflow-y: hidden;
}*//* 2020/01/06 vhを適用したが、範囲外になる可能性が存在している */
#second_card{
    width: 90%;
    height: 40%;
    margin: 50vh 5% 5% 5%;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    z-index: 0;
    overflow-y: hidden;
}
#second_card.display{
    width: 100%;
    height: 100%;
    margin: 0px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    z-index: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/*
#second_card_back{
    display: none;
}#second_card_back.display{
    display: block;
}
*/
#second_card_approval{
    display: none;
}#second_card_approval.display{
    display: block;
}

/* チェックマークをつける */
.ok{
    border-left:20px solid #0066ff;
	border-bottom:20px solid #0066ff;
	width:60px;
	height:30px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	left:calc(50% - 40px);
    top:calc(50% - 30px);
    content:"";
    position: absolute;
}


/* 以下 guest */
/*
#login_menu{
    top: 35px !important;
    right: 30px !important;
    left: auto !important;
    transform-origin: right top !important;
}
*/

/*#lets_login_card{
    height: 300px;
    width: calc(100vw - 40px);
    margin: 100px 20px 20px 20px;
}*/


/* icon 震えを与える */
#user_login_button{
    animation: hurueru 2s infinite;
}

@keyframes hurueru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg);
        color: #0066ff;
    }
    2.5% {
        transform: translate(4px, 4px) rotateZ(1deg);
        color: #0066ff;
    }
    5% {
        transform: translate(0px, 4px) rotateZ(0deg);
        color: #0066ff;
    }
    7.5% {
        transform: translate(4px, 0px) rotateZ(-1deg);
        color: #0066ff;
    }
    10% {
        transform: translate(0px, 0px) rotateZ(0deg);
        color: #0066ff;
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
        color: #000000;
    }
}

#how_to_login{
    background-color: #ffffff;
    top: -100%;
    z-index: 5;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s ;
    padding: 70px 8px 70px 8px;
    box-sizing: border-box;
    overflow-y: scroll;
}
#how_to_login.display{
    top: 0px !important;
}